body{
	background-image: url(1.jpg);
	height: 100%;
	width:100%;
	background-repeat: no-repeat;
	background-size: 100%;
}
h1{
	text-align: center;
	color:green;
}
#tips{
	margin-top: 5%;
	margin-left: 35%;
	color:red;
	font-weight: bold;
	font-size:25px;
}
form{
	margin-top: 3%;
	text-align: center;
	width:100%;
}
input{
	margin:8px;
	display: inline;
}
li{
	margin:5px;
}
.message{
	height:5px;
	color: red;
	font-weight: bold;
}
.button{
	width:10%;
	height:10%;
	text-align: center;
	font-size: 25px;
	border-radius: 20%;
	box-shadow: 2px 2px 2px grey;
	color:white;
	background-color: green;
}
span{
	margin:15px;
	font-size: 30px;
}
#con{
	margin-left: 45%;
	text-align: left;
}